; semver 锁定 minor 版本
; 打印安装日志
loglevel=http
; 关闭 npm 自动检查更新
update-notifier=false
; 淘宝源
registry=http://registry.npm.taobao.org/
; 常用二进制依赖的镜像 -- 举个栗子 本项目其实不需要单独配置
puppeteer_download_host=httpregistry/npm.taobao.org/mirrors
phantomjs_cdnurl=http://registry.npm.taobao.org/dist/phantomjs
chromedriver_cdnurl=http://registry.npm.taobao.org/dist/chromedriver
operadriver_cdnurl=http://registry.npm.taobao.org/dist/operadriver
fse_binary_host_mirror=httpregistry/npm.taobao.org/mirrors/fsevents
sass_binary_site=http://registry.npm.taobao.org/dist/node-sass
electron_mirror=http://registry.npm.taobao.org/dist/electron/
xprofiler_binary_host_mirror=httpregistry/npm.taobao.org/mirrors/xprofiler
; 丢掉
package-lock=false
